
{% extends "base.html" %}

{% block title %}
	Inicio
{% endblock %}

{% block ListaGyms %}

	{% if gyms %}
		{% for gym in gyms %}
			<li><a href="/Workinout/gym/{{ gym.nombre }}"> {{ gym.nombre }}</a></li>
		{% endfor %}
	{% else %}
		<strong>No hay gyms.</strong>
	{% endif %}

{% endblock %}

{% block Cuerpo %}
	<h1 class="page-header">Gráfica de visitas de los establecimientos que cuentan con Workinout</h1>
    <body>
        <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
        <div id=datos>
            
        </div>
        <div><p>OTRO DIV</p></div>
	</body>


{% endblock %}

{% block misScripts %}
      
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    
    <script type="text/javascript">
    $(function ajax() {    
        $.ajax({
            url: '/Workinout/reclama_datos/',
            type: 'get',
            data: {'foo':'gym'},
            success: function(data) {
                hacerGrafico(data)
            },
            failure: function(data) { 
                alert('esto no vá');
            }
        });

        function hacerGrafico(data) {
            var vnombres=[];
            var vvisitas=[];
            for(var i=0; i<data.length; i++){
                if(i%2==0){
                    vnombres.push(data[i])
                }
                else{
                    vvisitas.push(data[i])
                }
            }
            $('#container').highcharts({
                chart: {
                    type: 'gym'
                },
                title: {
                    text: 'Visitas al perfil de cada gym'
                },
                subtitle: {
                    text: 'herramienta en pruebas'
                },
                xAxis: {
                    categories: vnombres,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Visitas',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' visitas'
                },
                plotOptions: {
                    gym: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FF00FF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Visitas',
                    data: vvisitas
                }]
            });
        };
    });
    </script>


{% endblock %}
